.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-login {
  width: 25rem;
}

.para-link {
  text-decoration: underline
}

.para-link:hover {
  cursor: pointer;
}

.login-register-container {
  margin-top: 3rem;
}

.footer-container {
  position: fixed; 
  left: 0 ; right: 0; bottom: 0; 
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.fa-icon {
  padding-left: 1rem;
}

.fa-icon:hover {
  cursor: pointer;
  color: orange;
}

.profile-card {
  width: 70%;
}

.profile-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 30rem;
}

.profile-data {
  width: 25%;
  margin-top: 2%;
}

.profile-description {
  width: 70%;
}

.profile-data-field {
  display: flex;
  flex-direction: column;
  width: auto;
}

.profile-data-field input {
  width: 100%;
}

.profile-data-field-buttons {
  display: flex;
  justify-content: space-between;
}

.profile-data-field-buttons Button {
  width: 100%;
}

.profile-data-field Button {
  margin-top: 2%;
}